<nav class="navbar fixed-bottom navbar-light bg-light">
  <footer>

    <p><%= t(".project") %>  <%= github_url('acidzloi', 'TestGuru') %></p>
    <p> <%= t(".description") %></p>
    <p><%= link_to t(".link"), "https://thinknetica.com/", target: '_blank' %></p>
    <p><%= t(".year") %> <%= current_year %></p>
  </footer>
</nav>
