<tr>
  <td><%= answer.body %></td>
  <td><%= answer.correct? ? 'Yes' : 'No' %></td>
  <td><%= link_to t('.show'), [:admin, answer] %></td>
  <td><%= link_to t('.edit'), [:edit, :admin, answer] %></td>
  <td><%= link_to t('.delete'),
              [:admin, answer],
              method: :delete,
              data: { confirm: t('.confirm') } %></td>
</tr>
