<tr>
  <td><%= answer.body %></td>
  <td><%= answer.correct? ? 'Yes' : 'No' %></td>
  <td><%= link_to 'Show', [:admin, answer] %></td>
  <td><%= link_to 'Edit', [:edit, :admin, answer] %></td>
  <td><%= link_to 'Delete',
              [:admin, answer],
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
</tr>
