<h1><%= t('.header') %></h1>

<p>
  <%= link_to t(".create"), new_admin_test_path %>
</p>

<table>
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <th><%= t(".count") %></th>
    <th><%= t(".actions") %></th>
  </tr>

  <%= link_to t('admin.gists.index.header'), admin_gists_path %>

  <%= render @tests %>

</table>
